# OLLAMA Configs. Use these if you wan to use Ollama for LLM
# Your windows ip as seens from wsl. Check /etc/resolv.conf
OLLAMA_BASE_URL=dummy
# Ollama model with which you want to interact
MODEL_NAME=deepseek-coder-v2:16b    
# MODEL_NAME=deepseek-r1:14b



# Port on which this application will run on.
APPLICATION_PORT=3000

# Directory where voice recording will be sotred. Path is at root.
RECORDINGS_DIR=./recordings
TIMEZONE=Asia/Kolkata

# To see all logs in mainServer
DEBUG=true

TRANSCRIPTION_SERVER_ENDPOINT=http://0.0.0.0:5002/transcript

VOICE_SYNTHESIS_SERVER_ENDPOINT=http://localhost:5003/voice/synthesize

# AGENTS Configuration. Do not chage these values.
SYSTEM_PROMPTS_DIRECTORY=systemPrompts
AGENT_PERSONALITY_DIRECTORY=llmPersonalities
AGENT_PERSONALITY=LEENA.txt
ABOUT_ME_FILE_NAME=aboutMe.txt


# Google GEMINI related config. Use it if you want to use GEMINI model


GOOGLE_GEMINI_API_KEY=dummy
# https://ai.google.dev/gemini-api/docs/models?utm_source=chatgpt.com
# GEMINI_MODEL=gemini-3-flash-preview
GEMINI_MODEL=gemini-2.5-flash-lite